# No need to have the following files on GitHub and Vercel.
# Standard
node_modules
*.log*
.env

# Using .npmrc in localhost to publish package to GitHub
.npmrc

# dev, build and generate
.nuxt
.output
dist

# Playground
.playground/.nuxt
.playground/.output
.playground/dist
.playground/node_modules

# Yarn
yarn.lock

# Service-Worker
sw.js
sw.js.map
workbox-ab116399.js
workbox-ad213f2f.js.map

# Original images (converted to webp)
public/convert

# bubblewrap
bubblewrap